.header {
  background-color: #00adb5;
  padding: 1% 3%;
  height: 60px;
  box-sizing: border-box;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
.links {
  color: #fff;
  margin-top: 0;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1em;
  cursor: pointer;
}
h2.links:hover {
  color: #e3fdfd;
}
.left {
  display: inline-block;
  position: absolute;
  top: 13px;
}
.right {
  display: inline-block;
  position: absolute;
  top: 15px;
  height: 60px;
  right: 1rem;
  padding: auto 0;
}
.not-icon {
  position: relative;
  top: 4px;
}
