.teams-container {
  display: flex;
  flex-direction: row;
}
/* Team Navigation Panel */
.team-nav {
  min-width: 210px;
  max-width: 210px;
  min-height: calc(100vh - 110px);
  box-sizing: border-box;
  background-color: #393e46;
  color: white;
}
/* Team title  */
.team-title {
  background-color: #222831;
  color: white;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.team-title h3 {
  margin: 0;
}
.add-icon {
  margin-left: 70px;
  cursor: pointer;
  color: #00adb5;
}
.team-add {
  margin: 0;
  position: absolute;
  background-color: #393e46;
  left: 220px;
  top: 70px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  border-radius: 10px 10px;
}
.team-add-row {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: white;
}
.team-add-row:hover {
  opacity: 0.8;
}
.team-add-row p {
  margin: 0;
  text-decoration: none;
}
.team-add-row:first-child {
  margin-bottom: 10px;
}
/* Team links  */
.team-link {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.team-link h4 {
  margin: 0;
  font-weight: 500;
}
.team-icon {
  margin-right: 5px;
}
.teams-separator-line {
  border: none;
  border-top: 1px solid #222831;
  margin: 0 auto;
  width: 80%;
  height: 0;
}
/* Team Description */
.team-content {
  box-sizing: border-box;
  padding-left: 3%;
  flex-grow: 1;
}
